<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata Information for browser -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Scaling of Webpage -->

    <title>World of Tanks Blitz Player Tracker - Login page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/src/main.css">

    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>

    <!--Video Background-->
    <video autoplay muted loop playsinline id="login-background-video">
      <source src="https://www.dropbox.com/scl/fi/fpk0ri5a17yfiqh187sxn/login-background-footage.mp4?dl=1" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    

    <!-- Header section inside the body -->
    <div class="header">
      <div class="wargaming-nav-bar">
        <!-- Navigation content here -->
        <a href="https://wargaming.net/en/games/wotb">
          <div id="wg-logo-wrapper-main">
            <div id="wg-logo-icon-holder">
                <!--Pre-Hover Logo-->
                <object id="wg-logo" type="image/svg+xml" data="../static/assets/wg_logo.svg">
                  Wargaming Logo
                </object>
            </div>
          </div>
        </a>
        <div id="wg-games-wrapper-main">
          <div id="wg-games-holder">
            <p id="wargaming-nav-bar-games-text">
              Games <span class="dropdown-arrow"></span>
            </p>
          </div>
        </div>
        <div id="wg-services-wrapper-main">
          <div id="wg-services-holder">
            <p id="wargaming-nav-bar-services-text">
              Services <span class="dropdown-arrow"></span>
            </p>
          </div>
        </div>
        <div id="wg-premium-wrapper-main">
          <div id="wg-premium-holder">
            <p id="wargaming-nav-bar-premium-text">
              Premium Shop
            </p>
          </div>
        </div>
        <div id="wg-support-wrapper-main">
          <div id="wg-support-holder">
            <p id="wargaming-nav-bar-support-text">
              Player Support
            </p>
          </div>
        </div>
      </div>

      <section class="main-content" id="login-main-content">
        <section class="section-flex" id="login-section">
            <div class="container" id="login-container"> <!--login container-->
              <div id="login-elements">
                <p class="title login-text">Login</p>
                <form method="POST" action="/login" id="login-form">
                  <div class="mb-3">
                    <label for="login-username-input" class="form-label login-text">Username</label>
                    <input type="email" class="form-control" id="login-username-input" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                      <label for="login-password-input" class="form-label login-text">Password</label>
                      <input type="password" class="form-control" id="login-password-input" placeholder="Password@123">
                  </div>
                </form>
                <div class="text-container-right" id="forgot-password-container"> <!--forgot password flex container-->
                  <a href="" class="login-text" id="forgot-password-text">
                    <p>Forgot Password?</p>
                  </a>
                </div>
                <a href="../templates/login.html" id="login-button-container">
                  <button type="button" class="btn btn-primary" id="login-section-login-button">Login</button>
                </a>
                <p class="login-text" id="sign-up-text-2">Or Login Using</p>
                <div id="logos"> 
                    <a class="login-logo" href="">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="50px" height="50px">
                        <path fill="#8bb7f0" d="M40 2A38 38 0 1 0 40 78A38 38 0 1 0 40 2Z"/>
                        <path fill="#fff" d="M77.784 44.013c.006-.054.016-.106.021-.159C77.8 43.907 77.79 43.96 77.784 44.013zM2.194 43.84c.007.073.021.144.029.217C2.215 43.985 2.201 43.912 2.194 43.84zM44.907 50.471h9.835l1.544-9.989H44.907v-5.46c0-4.149 1.356-7.83 5.239-7.83h6.238v-8.719C55.287 18.325 52.97 18 48.59 18c-9.146 0-14.507 4.831-14.507 15.835v6.647h-9.402v9.989h9.402V77.4c1.858.279 3.744.47 5.68.47 1.749 0 3.458-.159 5.144-.388V50.471z"/>
                        <g>
                          <path fill="#4e7ab5" d="M40,3c20.402,0,37,16.598,37,37S60.402,77,40,77S3,60.402,3,40S19.598,3,40,3 M40,2 C19.013,2,2,19.013,2,40s17.013,38,38,38s38-17.013,38-38S60.987,2,40,2L40,2z"/>
                        </g>
                      </svg>
                    </a>
                    <a class="login-logo" href="">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64px" height="64px">
                        <linearGradient id="HOaxCdew_So_FZGl4pPQ6a" x1="32" x2="32" y1="9" y2="55" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="#1a6dff"/>
                          <stop offset="1" stop-color="#c822ff"/>
                        </linearGradient>
                        <path fill="url(#HOaxCdew_So_FZGl4pPQ6a)" d="M49,55H15c-3.309,0-6-2.691-6-6V15c0-3.309,2.691-6,6-6h34c3.309,0,6,2.691,6,6v34	C55,52.309,52.309,55,49,55z M15,11c-2.206,0-4,1.794-4,4v34c0,2.206,1.794,4,4,4h34c2.206,0,4-1.794,4-4V15c0-2.206-1.794-4-4-4H15	z"/>
                        <linearGradient id="HOaxCdew_So_FZGl4pPQ6b" x1="32" x2="32" y1="13" y2="51" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-color="#6dc7ff"/>
                          <stop offset="1" stop-color="#e6abff"/>
                        </linearGradient>
                        <path fill="url(#HOaxCdew_So_FZGl4pPQ6b)" d="M26.978,22l14.108,20h-3.063L23.914,22H26.978z M51,15v34c0,1.1-0.9,2-2,2H15	c-1.1,0-2-0.9-2-2V15c0-1.1,0.9-2,2-2h34C50.1,13,51,13.9,51,15z M44.914,44L34.789,29.613L43,20h-2.5l-6.841,8.009L28.022,20	h-7.937l9.222,13.103L20,44h2.5l7.937-9.292L36.978,44H44.914z"/>
                      </svg>
                    </a>
                    <a class="login-logo" href="">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px" aria-label="Google logo" role="img">
                        <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"/>
                        <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"/>
                        <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"/>
                        <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"/>
                      </svg>
                    </a>
                </div>
                <p class="login-text" id="sign-up-text-3">Don't have a account yet?</p>
                <a href="" id="sign-up-link"><p>Sign Up</p></a>
              </div>
        </section>
      </section>

    </div>
  </body>
</html>

<!--CANNOT DO SIGN UP WITH Javascript-->