// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom styles go below

:root {
  //Vertical Positioning
  --wg-nav-bar-height: 37px;  // Set the initial height of the wargaming-nav-bar
  --tracker-nav-bar-vertical-height: 30px;  // Set the initial height of the wargaming-nav-bar

  //Margins
  --horizontal-margin: 92px; // Must be >=65px due to Tracker Nav Bar
}

///*** General tags

a {
  text-decoration: none;
}

///*** Extra Elements

.dropdown-arrow {
  border: solid grey;
  border-width: 0 1.75px 1.75px 0;
  display: inline-block;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: translateY(-2px) rotate(45deg);
  margin-left: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

///***
/* HEADER START*/
///***

.header {
  width: 100%;
  text-decoration: none;
}

///*** Tracker Nav Bar

.tracker-nav-bar {
  overflow: hidden;
  background: rgb(12, 18, 24);
  opacity: 0.95;
  height: calc(var(--wg-nav-bar-height) + var(--tracker-nav-bar-vertical-height));
  width: 100%; /* Stretches across the entire screen */
  color: grey;
  text-align: left; /* Align text to the left */
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  transition: color 0.2s linear;
  position: fixed; /* Makes it stick at the top of the screen */
  top: calc(var(--wg-nav-bar-height)); /* Adjust the top based on the wargaming-nav-bar height */
  z-index: 80; /* Below the wargaming-nav-bar */
  display: flex; /* Flexbox layout to easily align content */
  align-items: center; /* Vertically centers content */
  justify-content: flex-start; /* Aligns items to the left */
}

.tracker-nav-bar-buttons {
  //background-color: #04AA6D; //USE FOR DEBUG !!!
  text-decoration: none;
  color: grey;
  display: inline-block;
  position: relative; //Border Animation
  align-items: center;  /* Vertically center the content */
  justify-content: center;  /* Horizontally center the content */
  padding: calc(var(--tracker-nav-bar-vertical-height) - 5px) 0px;  // Vertical padding from variable
  text-align: center;
  line-height: 1;  /* Ensures no extra space vertically */
  margin: 0px 0px 0px 20px;  /* Adds space between buttons */
}

.tracker-nav-bar-buttons::after { //Border Animation
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.2s linear, left 0.2s linear;
}

.tracker-nav-bar-buttons:hover::after { //Border Animation
  width: 100%;
  left: 0;
}

.tracker-nav-bar-buttons:hover {
  color: lightgrey;
  transition: color 0.2s linear;
}

.tracker-nav-bar-buttons.active {
  color: white;
}

.tracker-nav-bar-elements {
  display: flex;
  width: 100vw;
  align-items: center; /* Vertically centers items inside */
  justify-content: flex-start; /* Aligns items to the left */
  margin-right: 10vw;
}

#wotb_logo {
  float: left;
  scale: 52%;
  margin: 0px 0px 0px calc(var(--horizontal-margin));
}

.tracker-nav-bar a.logo {
  float: left;
  font-size: 30px;
  font-weight: bold;
  color: lightgrey;
}

.push-right{
  margin-left: auto;
}

#login-button{
  background: rgb(39, 39, 39);
  border-color: white;
  border-radius: 25px;
  padding: 8px 20px;
  transition: scale 0.1s linear;
  margin-left: 0.7vw;
}

#login-button:hover{
  background: rgb(145, 145, 145);
  scale: 103%;
  transition: scale 0.1s linear;
}

///*** Wargaming Nav Bar Elements

.wargaming-nav-bar {
  display: flex;
  padding: 0px 10px;
  margin: auto;
  width: 100%;
  background: black; /* Example background color */
  color: white;
  text-align: center;
  align-items: top;
  position: fixed; /* Fixes the navbar at the top */
  top: 0; /* Places it at the top of the page */
  left: 0;
  z-index: 100; /* Ensures it stays above other elements */
  box-sizing: border-box;
  height: var(--wg-nav-bar-height);  // Use the variable for height
  border-bottom: 0.1px solid #525454; /* Add a border to create the divider effect */ 
  color: grey;
  font-family: Arial, "Helvetica CY", Helvetica, sans-serif;
  font-size: 13px;
}

#wg-logo-wrapper-main {
  height: 37px;
  line-height: 37px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  position: relative;
}

#wg-logo-icon-holder {
  z-index: 50;
  transform: translateY(-1px);
  width: 19px;
  height: 19px;
  line-height: 19px;
  vertical-align: middle;
  position: relative;
  float: left;
}

/* Assuming #wg-logo is the SVG or container around your SVG */
#wg-logo {
  display: block; /* Prevent inline gaps/flicker */
  height: 20px;
  width: 20px;
  transition: filter 0.3s ease;
  filter: brightness(0.8);
}

/* On hover, brighten it up */
#wg-logo-wrapper-main:hover #wg-logo{
  filter: brightness(1.1);
}

//Games dropdown

#wg-games-wrapper-main{
  height: 37px;
  line-height: 37px;
  margin-right: 0;
  display: flex;
  align-items: center;
  padding: 0 8px 0 8px;
  cursor: pointer;
}

#wg-games-holder{
  vertical-align: middle;
}

#wargaming-nav-bar-games-text{
  display: inline;
  text-decoration: none;
  font-family: Arial, "Helvetica CY", Helvetica, sans-serif;
  font-size: 13px;
  color: grey;
}

#wg-games-wrapper-main:hover #wargaming-nav-bar-games-text{
  color: white;
}

#wg-games-wrapper-main:hover .dropdown-arrow {
  border: solid white;
  border-width: 0 1.75px 1.75px 0;
  display: inline-block;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: translateY(-2px) rotate(45deg);
  margin-left: 3px;
}

//Services dropdown

#wg-services-wrapper-main{
  height: 37px;
  line-height: 37px;
  margin-right: 0;
  display: flex;
  align-items: center;
  padding: 0 8px 0 11px;
  cursor: pointer;
}

#wg-services-holder{
  vertical-align: middle;
}

#wargaming-nav-bar-services-text{
  display: inline;
  text-decoration: none;
  font-family: Arial, "Helvetica CY", Helvetica, sans-serif;
  font-size: 13px;
  color: grey;
}

#wg-services-wrapper-main:hover #wargaming-nav-bar-services-text{
  color: white;
}

#wg-services-wrapper-main:hover .dropdown-arrow {
  border: solid white;
  border-width: 0 1.75px 1.75px 0;
  display: inline-block;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: translateY(-2px) rotate(45deg);
  margin-left: 3px;
}

//Premium Shop

#wg-premium-wrapper-main{
  height: 37px;
  line-height: 37px;
  margin-right: 0;
  display: flex;
  align-items: center;
  padding: 0 8px 0 11px;
  cursor: pointer;
}

#wg-premium-holder{
  vertical-align: middle;
}

#wargaming-nav-bar-premium-text{
  display: inline;
  text-decoration: none;
  font-family: Arial, "Helvetica CY", Helvetica, sans-serif;
  font-size: 13px;
  color: #99712d;;
}

#wg-premium-wrapper-main:hover #wargaming-nav-bar-premium-text{
  color: rgb(242, 191, 96);
}

//Player Support

#wg-support-wrapper-main{
  height: 37px;
  line-height: 37px;
  margin-right: 0;
  display: flex;
  align-items: center;
  padding: 0 8px 0 15px;
  cursor: pointer;
}

#wg-support-holder{
  vertical-align: middle;
}

#wargaming-nav-bar-support-text{
  display: inline;
  text-decoration: none;
  font-family: Arial, "Helvetica CY", Helvetica, sans-serif;
  font-size: 13px;
  color: grey;;
}

#wg-support-wrapper-main:hover #wargaming-nav-bar-support-text{
  color: white;
}

///***NOT IMPLEMENTED YET (need JS)

#games-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}


///***
/* Header END -> BODY START*/
///***

body {
  height: 100vh; /* Ensures the body takes full viewport height */
  background-color: rgb(12, 18, 24);
}

.main-content {
  padding-top: calc(var(--wg-nav-bar-height) + var(--tracker-nav-bar-vertical-height) + 40px); /* Pushes content down below fixed navbars */
}

@keyframes smooth-parallax {
  to {
    background-position: center 500px;
  }
}

#section-search-player-background {
  animation: smooth-parallax linear;
  animation-timeline: scroll();
  background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, rgb(12, 18, 24)), 
                    url("../assets/WOTB Background Tiger.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 80px 0px 120px 0px;
}

#section-search-player {
  margin: 0px 210px 0px 210px;
}

#player-search-form-container{
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 0;
  backdrop-filter: blur(5px);
}

#search-player-form-label{
  color: white;
  font-size: 2.5em;
  font-weight: 600;
  padding: 15px;
  width: 100%;
  text-align: center;
}

#player-search-form{
  font-size: 1.5em;
  height: 70px;
  color: white;
  text-align: center;
  border-radius: 0; 
  width: 100%;
  background: rgba(86, 86, 86, 0.5);
  border: none;
}

#player-search-form::placeholder {
  color: rgb(216, 216, 216); /* Change to your desired color */
  font-size: 1.2em;
  text-align: center;
}

#player-search-form:focus {
  border: 2px solid rgb(125, 184, 204); /* Adds a light blue border */
  border-radius: 5px;
  box-shadow: none;
  outline: none; /* Removes the default outline */
}

.banner_background {
  background: rgb(32, 39, 47);
}

#home-player-search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  align-content: center;
}

#home-player-search-button{
  background: rgb(24, 137, 174);
  border-radius: 25px;
  padding: 12px 20px;
  transition: scale 0.1s linear;
}

#home-player-search-button:hover{
  background: rgb(29, 166, 211);
  scale: 103%;
  transition: scale 0.1s linear;
}

#discord-container-padding {
  height: auto;
  padding: 40px 0px 0px 0px;                                                                     /*1000px IS TEMPORARY*/ 
}

#discord-container {
  display: flex;
  align-items: center; /* Aligns items vertically */
  justify-content: flex-start; /* Moves content to the left */
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  height: 60px;
  padding: 0px 0px 0px 0px;
  max-width: 100%; /* Prevents overflow */
}

#discord-logo-wrapper-main {
  display: flex;
  align-items: center;
  padding: 0px 16px 0px 20px;
  height: 100%;
}

#discord-logo-icon-holder {
  display: inline-block;
  height: auto;
  width: auto;
  background-size: cover;
  transition: scale 0.1s linear;
}

#discord-logo {
  filter: brightness(3);
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: filter 0.2s linear, scale 0.15s linear;
}

#discord-logo-wrapper-main:hover #discord-logo {
  scale: 110%;
  filter: brightness(1);
}

#discord-text {
color: White;                                                                
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
  padding: 0px 10px 0px 0px;
}

#news-section{
  padding: 8vw 0px 0px 0px;
  margin: 0px 4vw 0px 4vw;
}

#news-container{
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Stack the children vertically */
  align-items: center; /* Centers content horizontally */
  justify-content: flex-start; /* Aligns content at the start of the container */
  text-align: center; /* Ensures text inside is centered */
  background: rgba(12, 18, 24, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 8vw 0px 8vw 0px;
  max-width: 100%; /* Prevents overflow */
  height: auto;
}

#news-heading {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the heading takes up the full width */
}

#news-heading-text{
  color: White;
  font-size: 3vw;
  margin: 0;
  white-space: nowrap;
  padding: 0px 10px 0px 0px;
}

#news-content {
  padding: 0px 1vw;
  text-align: left;
  width: 100%;
}

.news-row-container {
  display: flex;
  justify-content: space-between; /* Pushes first item to the left, last to the right */
  align-items: center; /* Ensures content stays vertically aligned */
  width: 100%;
  gap: 20px; /* Maintains equal spacing */
  color: white;
  padding: 0px 0px 2vw
}

.news-objects{
  display: flex;
  flex-direction: column; /* Ensures image and text stay together */
  align-items: center; /* Centers content inside each box */
  flex: 1; /* Allows both containers to grow equally */
  border-radius: 0.5vw;
}

#news-object-50{
  max-width: 50%; /* Ensures they don't take up more than half of the container */
  height: auto;
}

#news-object-100{
  max-width: 100%; /* Ensures they don't take up more than half of the container */
  height: auto;
}

.news-object-background{
  background: rgb(32, 39, 47);
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.news-text{
  color: rgb(206, 214, 213);
  font-size: 1.6vw;
  font-family: "roboto condensed";
  margin: 0;
  white-space: nowrap;
  padding: 0vw 0px 0px 1.2vw;
}

.news-button-container{
  padding: 0.6vw 0px 1.2vw 1.2vw
}

#news-button{
  color: rgb(206, 214, 213);
  font-size: 1vw;
  font-family: "roboto condensed";
  margin: 0;
  white-space: nowrap;
  padding: 0.5vw 0.85vw;
  border: 0.13vw solid rgb(49, 125, 167);
}

#news-button:hover{
  background: rgb(49, 125, 167);
  scale: 103%;
  transition: scale 0.1s linear;
}

.news-image{
  mask-image: linear-gradient(to top, transparent 0%, rgb(12, 18, 24) 20%);
  border-radius: inherit;
  width: 100%; /* Makes the image responsive */
  height: 100%; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures the image fills its space nicely */
}

#news-image-100{
 height: 30vw;
}

#rankings-section{
  padding: 8vw 0px 0px 0px;
  margin: 0px 4vw 0px 4vw;
}

#rankings-heading{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the heading takes up the full width */
}

#rankings-heading-text{
  color: White;
  font-size: 3vw;
  margin: 0;
  white-space: nowrap;
  padding: 0px 10px 0px 0px;
}

#rankings-container{
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Stack the children vertically */
  align-items: center; /* Centers content horizontally */
  justify-content: flex-start; /* Aligns content at the start of the container */
  text-align: center; /* Ensures text inside is centered */
  background: rgba(12, 18, 24, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 8vw 0px 8vw 0px;
  max-width: 100%; /* Prevents overflow */
  height: auto;
}

#rankings-content{
  padding: 0px 1vw;
  text-align: left;
  width: 100%;
} 

/* ---------------------------------------------------------------------- */
// LOGIN PAGE
/* ---------------------------------------------------------------------- */

#login-main-content{
  position: relative;
  padding-top: 9.5vh;
}

#login-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#login-container{
  background-color: rgb(27, 42, 63);
  opacity: 90%;
  width: 450px; //~30% vw -> ADD BREAKPOINTS
  height: auto;
  border-radius: 2%;
}

.mb-3{
  width: 100%;
}

#login-elements{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3vh 3vw 3vh 3vw;
}

#login-form{
  width: 100%;
}

.title{
  font-size: 2em;
  padding-bottom: 4vh;
}

#logos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.text-container-right{
  justify-content: flex-end;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#forgot-password-container{
  padding-bottom: 3vh;
}

#forgot-password-text {
  color: lightgrey;
  text-decoration: none;
  transition: color 0.2s linear;
}

#forgot-password-text:hover {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
}



#login-button-container{
  width: 100%;
  margin-bottom: 3vh;
}

#login-section-login-button{
  background: rgb(39, 39, 39);
  border-color: white;
  border-radius: 25px;
  padding: 8px 0px;
  width: 100%;  
  transition: all 0.2s linear;
}

#login-section-login-button:hover{
  border-color: grey;
  color: grey;
  transition: all 0.2s linear;
}

#sign-up-text-1{
  padding: 2vh 0vw 0vh 0vw;
  color: white;
}

#sign-up-text-2{
  padding: 1vh 0vw 1vh 0vw;
  color: lightgray;
} 

#sign-up-text-3{
  padding: 3vh 0vw 0vh 0vw;
  color: lightgray;
}

.login-text{
  color: white;
}

.login-logo{
  margin: 0vh 0.2vw 0vh 0.2vw;
  transition: all 0.2s linear;
  transform-origin: center;
  will-change: transform;
}

.login-logo:hover{
  scale: 110%;
}

#login-background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

#sign-up-link{
  text-decoration: underline;
  color: lightgrey;
  transition: all 0.2s linear
}

#sign-up-link:hover{
  color: white;
} 

/* ---------------------------------------------------------------------- */
// USER STATS
/* ---------------------------------------------------------------------- */

#player-stats-main-content{
  padding-top: 0vh;
  margin: 0vh 0vw 0vh 0vw
}

#player-stats-head-background{
  margin: 0vh 0vw 0vh 28vw;
  width: 72vw;
  background-color: black; //CHANGE LATER
  padding: 30vh 0vw 5vh 5vw;
}

.section-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#player-stats-head{
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

#player-stats-heading {
  color: white;
  font-size: 3em;
  letter-spacing: 0.03em;
  margin-bottom: 10vh;
}

#stats-head-button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.player-stats-text1{
  color: white;
}

.stats-head-button2{
  color: white;
  margin-left: 2vw;
} 

//Header statistics

#stats-head-statistics-container{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

#country-tank-rank-stats{
  display: flex;
  flex-direction: row;
  margin-left: 3vw;
}

#country-tank-rank-stats-sub-container{
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}

